<!-- turn debug=true on for logback-test.xml to help debug logging configurations. -->
<configuration debug="false"> 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder>
      <pattern>[%25.-25t] %5level %40.40c:%-4.4L - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>